<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #f5f5f5;
	}

	.layout {
		width: 1500px;
		margin: 0 auto;
		margin-top: 40px;
	}
</style>
<body>
<!-- 네비게이션 바 위치 -->
<div th:replace="/layout/header.html :: header"></div>
<div class="layout">

	<h2 align="center">유저 내역 리스트</h2>

	<div style="width: 300px" class="input-group mx-auto mb-3">
		<form class="row gx-2" th:action="@{/admin/users}" method="get">
			<div class="col-auto">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="keyword" />
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-outline-primary">search</button>
			</div>
		</form>
	</div>

	<table class="table">
		<thead class="table-light">
		<tr>
			<th>NO</th>
			<th>회원 아이디</th>
			<th>회원 닉네임</th>
			<th>역할</th>
			<th>가입 일시</th>
			<th>수정 일시</th>
			<th>회원 상태</th>
			<th>정지 유무</th>
			<th>정지 일시</th>
			<th>탈퇴 일시</th>
		</tr>
		</thead>
		<tbody align="center">
		<tr th:each="user : ${userResponses}">
			<td class="text-start"><a th:href="@{/admin/users/{username}(username=${user.username})}" th:text="${user.userId}">회원 고유 번호</a></td>
			<td class="text-start"><a th:href="@{/admin/users/{username}(username=${user.username})}" th:text="${user.username}">회원 아이디</a></td>
			<td class="text-start" th:text="${user.nickname}">회원 닉네임</td>
			<td class="text-start" th:text="${user.role}">역할</td>
			<td class="text-start" th:text="${user.createdAt}">가입 일시</td>
			<td class="text-start" th:text="${user.updatedAt}">수정 일시</td>
			<td class="text-start" th:text="${user.userStatus}">회원 상태</td>
			<td class="text-start" th:text="${user.userStatus.toString() == 'SUSPENDED' ? 'Y' : 'N'}">정지 유무</td>
			<td class="text-start" th:text="${user.suspendedAt}">정지 일시</td>
			<td class="text-start" th:text="${user.deletedAt}">탈퇴 일시</td>
		</tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation">
		<!--표에 사용될 변수값 초기화 -->
		<ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(userResponses.number / 10) * 10 + 1}, last=(${start + 9 < userResponses.totalPages ? start + 9 : userResponses.totalPages})">
			<th:block th:with="
            firstAddr=@{/admin/users(page=1)},
            prevAddr=@{/admin/users(page=${userResponses.number})},
            nextAddr=@{/admin/users(page=${userResponses.number + 2})},
            lastAddr=@{/admin/users(page=${userResponses.totalPages})}">
				<li class="page-item">
					<a class="page-link" th:href="${firstAddr}" aria-label="First">
						<span aria-hidden="true"> << </span>
					</a>
				</li>
				<!-- 이전 페이지로 가기 버튼 -->
				<li class="page-item" th:class="${userResponses.first} ? 'disabled'">
					<a class="page-link" th:href="${userResponses.first} ? '#' :${prevAddr}"
					   aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
				</li>
				<!--1,2,3,4,.. 등 페이지-->
				<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
					th:class="${page == userResponses.number + 1} ? 'active'">
					<a class="page-link" th:text="${page}" th:href="@{/admin/users(page=${page})}"></a>
				</li>
				<!--다음 페이지로 -->
				<li class="page-item" th:class="${userResponses.last} ? 'disabled'">
					<a class="page-link" th:href="${userResponses.last} ? '#' : ${nextAddr}"
					   aria-label="Next">
						<span aria-hidden="true">&gt;</span>
					</a>
				</li>
				<!--맨 마지막 페이지로 이동 -->
				<li class="page-item">
					<a class="page-link" th:href="${lastAddr}" aria-label="Last">
						<span aria-hidden="true"> >> </span>
					</a>
				</li>
			</th:block>
		</ul>
	</nav>
</div>

</body>
</html>