<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
	.field-error {
		border-color: #dc3545;
		color: #dc3545;
	}
</style>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body>
<div th:replace="~{/layout/header.html :: header}"></div>
<!-- 공지사항 작성 폼-->
<div class="container">
	<div class="py-5 text-center">
		<h2>공지사항 게시글 수정하기</h2>
	</div>
	
	<h4 class="mb-3">공지사항 수정사항 입력</h4>
	
	<form th:action="@{/announcements/{id}(id=${updateAnnouncementRequest.getId()})}" th:object="${updateAnnouncementRequest}" th:method="patch">
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label" th:text="제목">제목</label>
			<input type="text" class="form-control" name="title" th:field="*{title}" id="exampleFormControlInput1">
			<div class="field-error" th:errors="*{title}">
				제목 오류
			</div>
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label" th:text="내용">내용</label>
			<textarea class="form-control" name="content" th:field="*{content}" id="exampleFormControlTextarea1" rows="5"></textarea>
			<div class="field-error" th:errors="*{content}">
				내용 오류
			</div>
		</div>
		
		<div align="right">
			<input type="submit" class="btn btn-primary" value="수정하기">
			<input type="button" class="btn btn-secondary" th:onclick="|location.href='@{/announcements}'|" value="취소하기">
			<input type="button" class="btn btn-danger" th:data-id="${updateAnnouncementRequest.id}" onclick="deleteAnnouncement(this)" value="삭제하기">
		</div>
		
	</form>
</div>

<script>
	function deleteAnnouncement(button) {
		var announcementId = button.getAttribute('data-id');
		var csrfToken = document.querySelector("meta[name='_csrf']").getAttribute("content");
		var csrfHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
		
		if (confirm("정말로 삭제하시겠습니까?")) {
			fetch('/announcements/' + announcementId, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json',
					[csrfHeader]: csrfToken // CSRF 토큰 추가
				}
			}).then(response => {
				if (response.ok) {
					window.location.href = '/announcements';
				} else {
					alert('공지사항 삭제에 실패했습니다.');
				}
			}).catch(error => {
				console.error('Error:', error);
				alert('공지사항 삭제에 실패했습니다.');
			});
		}
	}
</script>
</body>
</html>