<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		border: 1px solid #ddd;
		padding: 8px;
	}
	th {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #f5f5f5;
	}
	h2 {
		margin: 40px 0 20px 0;
	}
	#write {
		margin: 20px 0;
		background: #4E94F5;
		border-color : #4E94F5;
	}
	#write:hover {
		background: #1665d4;
	}
	.col-auto {
		margin: 20px 0;
	}
</style>
<body>
<!-- 네비게이션 바 위치 -->
<div th:replace="~{layout/header.html :: header}"></div>
<div class="container">
	<h2 align="center">게시글 리스트</h2>
	
	<div style="width: 300px" class="input-group mx-auto mb-3">
		<form class="row gx-2" th:action="@{/post/list}" method="get">
			<div class="col-auto">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="keyword" />
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-outline-primary">search</button>
			</div>
		</form>
	</div>
	<table class="table-primary">
		<thead>
		<tr>
			<th>NO</th>
			<th width="60%">제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		</thead>
		<tbody align="center">
			<tr th:each="post, postStat : ${postSummaryResponseList}">
				<td th:text="${postStat.count}">번호</td>
				<td>
					<a th:if="${post.type == 'announcement'}" th:href="@{/announcements/{id}(id=${post.id})}" th:text="${post.title}">공지사항 제목</a>
					<a th:unless="${post.type == 'announcement'}" th:href="@{/post/detail/{id}(id=${post.id})}" th:text="${post.title}">게시글 제목</a>
				</td>
				<td th:text="${post.nickname}">작성자</td>
				<td th:text="${post.createdAt}">작성일</td>
			</tr>
		</tbody>
	</table>
	
	<div align="right">
		<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/post/form}'|" id="write">글 쓰기</button>
	</div>
	
	<nav aria-label="Page navigation">
		<!--표에 사용될 변수값 초기화 -->
		<ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(postSummaryResponseList.number / 10) * 10 + 1}, last=(${start + 9 < postSummaryResponseList.totalPages ? start + 9 : postSummaryResponseList.totalPages})">
			<th:block th:with="
            firstAddr=@{/post/list(page=1)},
            prevAddr=@{/post/list(page=${postSummaryResponseList.number})},
            nextAddr=@{/post/list(page=${postSummaryResponseList.number + 2})},
            lastAddr=@{/post/list(page=${postSummaryResponseList.totalPages})}">
				<li class="page-item">
					<a class="page-link" th:href="${firstAddr}" aria-label="First">
						<span aria-hidden="true"> << </span>
					</a>
				</li>
				<!-- 이전 페이지로 가기 버튼 -->
				<li class="page-item" th:class="${postSummaryResponseList.first} ? 'disabled'">
					<a class="page-link" th:href="${postSummaryResponseList.first} ? '#' :${prevAddr}"
					   aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
				</li>
				<!--1,2,3,4,.. 등 페이지-->
				<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
				    th:class="${page == postSummaryResponseList.number + 1} ? 'active'">
					<a class="page-link" th:text="${page}" th:href="@{/post/list(page=${page})}"></a>
				</li>
				<!--다음 페이지로 -->
				<li class="page-item" th:class="${postSummaryResponseList.last} ? 'disabled'">
					<a class="page-link" th:href="${postSummaryResponseList.last} ? '#' : ${nextAddr}"
					   aria-label="Next">
						<span aria-hidden="true">&gt;</span>
					</a>
				</li>
				<!--맨 마지막 페이지로 이동 -->
				<li class="page-item">
					<a class="page-link" th:href="${lastAddr}" aria-label="Last">
						<span aria-hidden="true"> >> </span>
					</a>
				</li>
			</th:block>
		</ul>
	</nav>
</div>

</body>
</html>