.container {
    display: flex;
}

.container ul {
    display: flex;
}

.RecruitInfo {
    width: 280px;
    height: 280px;
    list-style: none;
    background-color: #3652F5;
    border-radius: 10px;
}

.Info-body {
    width: 280px;
    height: 120px;
    box-sizing: border-box;
    border: 2px solid #3652F5;
    background: #fff;
    margin-top: 160px;
    padding: 10px;
    position: relative;
}

.Info-body p {
    font-size: 12pt;
    text-align: end;
    margin-right: 10px;
    margin-top: 10px;
    color: #333;
}

.Info-body button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}